@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --primary-color: #FED3DC;
    --text-color: #dd3358;
    --bg-color: #fce6eb;
    --secondary-color: #EBEAE6;
    --tertiary-color: #F4F3EF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
    /* width: 100vw;
    height: 100vh; */
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
    color: rgb(37, 36, 36);
    padding-top: 70px;
}

nav {
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    /* overflow: hidden; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    animation: glowing 2s infinite;
}

.nav-items {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 250px;
    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.products-btn:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content ul li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;

}

.dropdown-content ul li:hover {
    background-color: var(--primary-color)
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.logo>span {
    color: var(--text-color);
}

.menu {
    width: 35%;
}

.menu>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.user-icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.div-icon {
    position: relative;
}

.div-icon>.icon-counter {
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: rgb(245, 122, 194);
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
}

.material-icons-outlined {
    font-size: 1.5rem;
    color: rgb(43, 41, 41)
}

.search-icon {
    position: relative;
}

.search-input-container {
    position: absolute;
    top: 100%;
    left: 0;
    /* right: 100%; */
    display: none;
    /* padding: 5px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* background-color: white; */
    width: 150px;
    z-index: 1000;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: display 0.3s;
    background-color: var(--bg-color);
    width: 150px;
    /* outline-color: var(--primary-color); */
}

.show-search {
    display: inline-block;
}

.mobile-menu,
.mobile-menu-icon,
.close-icon {
    display: none;
}

main {
    /* margin-top: 1rem; */
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem;
}

.home {
    background-color: var(--primary-color);
    padding: 1.2rem 2rem;
    border-radius: 10px;
    display: flex;
    /* gap: 1rem; */
    justify-content: space-around;

}

.home-text {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 1rem;
}

.home-text>p {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3F414D;
}

.home-end {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: self-end;
    gap: 1rem;
}

.social-icons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 0.8rem;
    cursor: pointer;
}

.social-icons-pad {
    display: none;
}

.headphones {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: rgb(245, 179, 92);
    width: 300px;
    border-radius: 10px
}


#desktop-search {
    padding: 9px 13px;
    padding-left: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    /* background-color: transparent; */
    width: 300px;
    min-width: 200px;
    margin: 10px 0 25px 0;

}

.home-search-input {
    position: relative;
    display: inline-block;
    border: none;
}

.home-search-icon {
    position: absolute;
    top: 45%;
    left: 10px;
    transform: translateY(-50%);
}

.pages {
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.pages-nav {
    margin-top: 1.5rem;
}

.pages-nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.products {
    /* width: 100%; */
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* border: 1px solid black; */
}

.product {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s;
    background-color: var(--tertiary-color);
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    /* background-color: var(--tertiary-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    /* width: 400px; */
    object-fit: cover;

}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--tertiary-color);
    /* border-radius: 10px; */
}

.product-icons {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.active-btn {
    position: relative;
    /* text-decoration: underline; */
}

.active-btn::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}

.shoes {
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary-color);
}

.shoe-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 5rem;
}

.shoe-text>h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #3F414D;
}

.shoe-text>p {
    font-size: 0.8Srem;
    font-weight: 400;
    color: #3F414D;
}

.shoe-text>button {
    margin-top: 0.7rem;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shoe-text>button:hover {
    background-color: #db8f9f;
}

.shoe-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    /* font-size: 0.9rem; */
    justify-content: space-between;
    margin-top: 1.5rem;
    background-color: var(--tertiary-color);
    padding: 1.5rem 4rem;
}

.footer ul {
    list-style: none;
}

.footer-logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.footer-logo>span {
    color: var(--text-color);
}

.footer-div1 {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

}

.footer-social-icons {
    display: flex;
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
}

.cart-container{
    display: none;
}

.cart{
    width: 70%;
    margin: 0 auto; 
}
.cart-products{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.cart-product-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.units-left{
    display: flex;
    gap: 0.3rem;
}
.cart-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 100%;
}
.counter-input {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    border-radius: 5px;
    
}
.counter-input>button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    background-color: var(--bg-color);
}

.cart-counter>.delete-btn{
    /* color: var(--text-color); */
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border: none;
    gap: 0.3rem;
    border-radius: 5px;
    background-color: transparent;
}
.cart-counter>.delete-btn:hover{
    background-color: var(--bg-color);
}
.close-cart-btn {
    position: absolute;
    top: 85px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    font-size: 24px;
    /* color: red; */
    border-radius: 5px;
    /* color: #333; */
    transition: color 0.3s;
}

.close-cart-btn:hover {
    color: #ff0000;
}
.checkout-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}
.checkout-btn:hover {
    background-color: #db8f9f;
}




/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: var(--bg-color);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-product {
    display: flex;
    align-items: center;
}

.modal-product-image img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-right: 20px;
}

.modal-product-info {
    flex: 1;
}

.modal-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart-modal {
    background-color: var(--text-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
/* Add this CSS to your existing stylesheets */
.user-profile-popup {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: var(--bg-color);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    border-radius: 5px;
}

.profile-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-options li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.profile-options li:hover {
    background-color: var(--primary-color);
}

/* Style the profile icon to make it more interactive */
.user-icons .material-icons-outlined.person {
    cursor: pointer;
}

/* Add additional styles to suit your design */


/* media queries */

@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }
    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        font-size: 1.5rem;
        color: var(--text-color);
    }

    .mobile-menu {
        list-style: none;
        padding: 20px;
        background-color: var(--primary-color);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        z-index: 1;
    }

    .mobile-menu.active {
        display: block;
    }


    .user-icons {
        width: 30%;
    }

    main {
        width: 100%;
        padding: 0.5rem;
    }

    .home {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5;
        width: 95%;
        margin: 0 auto;
    }

    .home-text {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .home-text>p {
        font-size: 2rem;
    }

    .home-end {
        display: none;
    }

    .social-icons-pad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;

    }

    .home-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

    }

    .pages {
        width: 100%;
    }

    .products {
        width: 100%;
        justify-content: center;
    }
    .product{
        width: 250px;
    }

    .pages-nav {
        display: none;
    }

    .shoes {
        margin: 0 auto;
        margin-top: 3rem;
        width: 90%;
    }

    .shoe-text {
        padding: 2rem;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        font-size: 0.8rem;
        padding: 1rem 2rem;
    }
    .cart{
        width: 90%;
    }
}

@media (max-width: 500px) {
    .user-icons {
        width: 50%;
    }

    nav {
        padding: 1rem 0.5rem;
        margin: 0 auto
    }

    main {
        width: 100%;
        padding: 0.5rem;
        margin: 0px;
    }

    .home {
        flex-direction: column;
        gap: 0.5rem;
        /* padding: 0.5; */
    }

    .home-text {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .home-text>p {
        font-size: 1.5rem;
    }

    .home-end {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-icons-pad {
        display: none;
    }

    .social-icons {
        flex-direction: column;
    }

    .shoes {
        flex-direction: column-reverse;
    }

    .shoe-text {
        padding: 1.7rem;
    }

    .shoe-text>h1 {
        font-size: 1.5rem;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        font-size: 0.8rem;
    }
        .footer-social-icons{
            width:70%;
        }

    .cart{
        width: 95%;
        /* margin: 0; */
    }

    .cart-product{
        /* gap: 0rem; */
        flex-direction: column;
    }
    .counter-product-info{
        justify-content: flex-start;
    }
    .checkout {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

}